.top-bar-zero-height-container {
	height:0px;
	overflow:visible;
	position:relative;
	z-index:2;
}

.topbar {
	padding-top:30px;
	padding-right:30px;
	.menu-container {
		ul {
			list-style-type:none;
			margin:0;
			text-align:right;
			li {
				a {
					color:$white;
					font-family: 'DINPro Bold';
					text-shadow:0px 2px 10px rgba(0,0,0,0.3);
					font-size:22px;
					line-height:100%;
					transition:0.25s;
					@media #{$large-up}{
						font-size:34px;
						line-height:130%;
					}
					&:hover {
						color:lighten($bubblegum,20%);
						transition:0.25s;
					}
					&.active {
						color:$bubblegum;
					}
				}
			}
		}
	}
	.top-right-hamburger {
		color:$white;
		height:60px;
		width:60px;
		padding:15px;
		float:right;
		margin-bottom:30px;
		cursor: pointer;
		> div {
			height:100%;
			width:100%;
			background-size:contain;
			background-repeat:no-repeat;
		}
	}
	&.collapsed {
		.top-right-hamburger {
			background-color:rgba(61,61,61,0.4);
			transition:0.25s;
			&:hover {
				background-color:rgba(61,61,61,0.7);
				transition:0.25s;
			}
			> div {
				background-image:url('../assets/img/components/topbar-bg-collapsed.png');
			}
		}
		.menu-container {
			display:none;
		}
	}
	&.expanded {
		.top-right-hamburger {
			padding:15px;
			background-color:#3d3d3d;
			transition:0.25s;
			&:hover {
				background-color:lighten(#3d3d3d,10%);
				transition:0.25s;
			}
			> div {
				background-image:url('../assets/img/components/topbar-bg-expanded.png');
			}
		}
		.menu-container {
			display:block;
		}
	}
}

.hero.blurred {
	-webkit-filter: blur(5px) brightness(50%);
	-moz-filter: blur(5px) brightness(50%);
	-o-filter: blur(5px) brightness(50%);
	-ms-filter: blur(5px) brightness(50%);
	filter: blur(5px) brightness(50%);
}